Group No;Group Name;Name;Sub Name;Repeater Call Sign;Gateway Call Sign;Gateway IP Address;Frequency;Dup;Offset;Mode;TONE;Repeater Tone;RPT1USE;Position;Latitude;Longitude;UTC Offset
{%- for row in data.itertuples(index=True) %}
{{ '%02d' | format(args.icom_group_number | default(0, True)) }};{{ args.icom_group_name | default('', True) }};{{ row['name_formatted'] | replace_umlauts | remove_diacritic }};{{ row['callsign'] | format_callsign_dstar(row['dstar_rpt1']) | default('', True) }};{{ row['callsign'] | format_callsign_dstar(row['dstar_rpt1']) | default('', True) }};{{ row['callsign'] | format_callsign_dstar(row['dstar_rpt2']) | default('', True) }};;{{ row['freq_tx'] | replace('.', ',') }};{{ row['dup'] | default('', True) }};{{ row['offset'] | default('', True) | replace('.', ',') }};DV;{{ row['tone'] }};{{ row['ctcss_rx'] | default('88,5', True) | format_ctcss | replace('.', ',') }}Hz;YES;{{ "Exact" if row['loc_exact'] else "Approximate" | default('None', True) }};{{ row['lat'] | default('', True) | replace('.', ',') }};{{ row['long'] | default('', True) | replace('.', ',') }};+1:00
{%- endfor %}