Group No;Group Name;CH No;Name;Frequency;Dup;Offset;TS;Mode;SKIP;TONE;Repeater Tone;TSQL Frequency;DTCS Code;DTCS Polarity;DV SQL;DV CSQL Code;Your Call Sign;RPT1 Call Sign;RPT2 Call Sign
{%- for row in data.itertuples(index=True) %}
{{ '%02d' | format(args.icom_group_number | default(0, True)) }};{{ args.icom_group_name | default('', True) }};{{ '%02d' | format(row['Index']) }};{{ row['name_formatted'] | replace_umlauts | remove_diacritic }};{{ row['freq_tx'] | replace('.', ',') }};{{ row['dup'] | default('', True) }};{{ row['offset'] | default('', True) | replace('.', ',') }};12,5kHz;FM;OFF;{{ row['tone'] }};{{ row['ctcss_rx'] | default('88,5', True) | format_ctcss | replace('.', ',') }}Hz;{{ row['ctcss_tx'] | default('88,5', True) | format_ctcss | replace('.', ',') }}Hz;23;BOTH N;;;;{{ row['callsign'] | default('', True) }};
{%- endfor %}